body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-wrapper {
    width: 300px;
}
.search {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}