body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
}

main {
    padding: 2rem;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-wrapper {
    width: 300px;
}

.search {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #ddd;
    width: 300px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}